* {
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: lightslategray;
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


header {
    padding: 1rem;
    background-color: var(--secondary-color);
}

.topnav {
    background-color: transparent;
    overflow: hidden;
    text-align: left;
}

.topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.search {
    float: right;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
}

.search:focus {
    outline: 0;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px orangered;
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}


.movie img {
    width: 100%;
}

.movieInfo {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movieInfo h3 {
    margin-top: 0;
}

.movieInfo span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movieInfo span.green {
    color: lightgreen;
}

.movieInfo span.orange {
    color: orange;
}

.movieInfo span.red {
    color: red;
}

.overview {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0)
}

